.project
.settings/*
.vscode/*
.DS_Store
.idea
vendor/
logs/
build/
*.zip
node_modules/
.phpdoc/
api-docs/
docs/build-dev/
docs/static/api/

composer.json
composer.lock
docker-compose.yml
Dockerfile
CONTRIBUTING.md
.phpcs.xml
.editorconfig
